{% load book_extras %}
<div class="card h-100">
    <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="card-text">
            <strong>Автор:</strong> {{ book.author.name }}<br>
            <strong>Год:</strong> {{ book.published_year }}<br>
            <strong>Цена:</strong> {{ book.price|currency }}<br>
            <strong>Жанры:</strong>
            {% for genre in book.genres.all %}
                {{ genre.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <div class="mt-2">
            {% book_status book %}
        </div>
    </div>
</div>